

    <div #showBooks>
    
      <div class="container">  
       
          <div class="container"> 
    
          <div class="row">
               <div class="contentHolder1">
             <div class="input-group">
                   <div class="input-group-prepend">
                       <button class="btn btn-dark btn-block addBtn" (click) = "addBook()" *ngIf="hideAddBtn()">Add book</button>
                 
                     <div class="sortWrapper">
                             <input type="text" class="form-control" name="searchString" placeholder="Search" [(ngModel)]="searchString">
                           </div>
                         </div>
                           </div>
             </div>
           
                 <div class="contentHolder">
                   <div class="posRght">
                   <div class="input-group-row">
                     <div class="input-group-prepend">
                       <button class="btn btn-dark  btn-sm" disabled> Total books: <span class="badge badge-light"> {{ books.length }}</span></button>
                       
                       <button class="btn btn-dark btn-sm arrowUp" (click)="changeOrder('A')">▲</button>
                       
                       <button class="btn btn-dark btn-sm arrowDown" (click)="changeOrder('Z')">▼</button>
                       
                       <div class="sortBy">
                       <select class="form-control" (change)="sort($event.target.value)">
                           <option value="" hidden>Sort by</option>
                           <option>Name</option>
                           <option>Author</option>
                           <option>Subject</option> 
                         </select>
                       </div>
                           
                       
                     </div>
                   </div>
                  </div>
                </div>
     
                </div>
              </div>
    
    <table class="table table-striped table-dark" style="width:100%">
      <thead>
        <tr>
          <th><!-- Intentinaly left empty --></th>
          <th>Name: </th>
          <th>Author</th>
          <th>Subject</th>
          <th>Type</th>
          <th>Published</th>
          <th><!-- Intentinaly left empty --></th>
    </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let book of books | filter: 'name' : searchString | paginate: {itemsPerPage: 20, currentPage: p}; index as i">
    
            <td>
          <div class="checkbox">
            <label><input type="checkbox" value="{{book.id}}" (click)="markBook(book.id, book.content)"></label>
          </div>
         </td>          
          <td class="entry"> {{book.name}} </td>
               
              <td class="entry">{{book.author}} </td>
          
                <td class="entry">{{book.subject}} </td>
              
           <td class="entry"> {{book.type}}</td>
              <td class="entry">{{book.publishingYear}}</td>
        <td><!-- <button class="btn btn-success dwnldBtn" (click)="onDownloadBook(book.id)"> Download </button> -->
          <a class="btn btn-success dwnldBtn" (click)="downloadLink( book.content )" [href]="downloadLink(book.content)">Download</a>
      
          <button class="btn btn-secondary editBtn" (click) = "editMyBook(i)" *ngIf="hideEditBtn(book.created_by)" >Edit</button>
                  <button class="btn btn-danger dltBtn" (click) = "deleteBook(book.id,i)" *ngIf="hideDeleteBtn(book.created_by)">Delete</button></td>
    
                </tr>
               
        </tbody>
       
        </table>
        <div class="pgnwrap">
          <div class="paginationPlaceHolder">
            <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
        <button class="btn btn-danger btn-block dltSelected" (click) = "deleteSelectedBooks()"  >Delete selected books</button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-success btn-block toProfile" routerLink="/profile"   >Profile</button>
        </div>
      </div>
    </div>