
.numberPlaceHolder{
    
    color: white;
    font-size: 20px;
    width: 235px;
   
}

.addBtn{
    width: 120px;
    margin-right: 5px;
    text-align: center;
   
}


.sortWrapper{
   /* padding: 0 10px;*/
    color: white;
    
   /* max-width: 175px; */
}
.sortPlaceHolder{
    color: white;
    font-size: 20px;
}

.sortBy{
   /* margin: 0 5px;
    padding: 0 5px;*/
    width: 125px;
}

.dwnldBtn{
    width:100px ;
    margin: 3px;

}
.editBtn{
    width:100px ;
    margin: 3px;
}

.dltBtn{
    width:100px ;
    margin: 3px;

}
.pgnwrap{
    background-color: rgba(0, 0, 0, 0.5);
}

.paginationPlaceHolder{
    text-align: center;
    border-radius: 5px;
  
}

.my-pagination /deep/ .ngx-pagination .current{
    background-color: rgba(0, 0, 0, 0.5);
   
  }
  .my-pagination /deep/ .ngx-pagination li{

    color: white;
  }

 
.arrowUp{
    border: 2px solid black;
    margin: 0 2px;
}
 
.arrowDown{
    border: 2px solid black;
    margin: 0 2px;
}
 /* .contentHolder{
    margin-bottom: 5px;
}  */
 
.posRght{
    float: right;

     margin-bottom: 5px;
} 

.contentHolder1{
    margin-right: 100px;
    margin-bottom: 5px;
}

#checkbox{
    padding: 5px;
}
/*
.dltSelected{
    width: 200px;
}


.toProfile{
    width: 200px;
}
*/