@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #6A7B85;
    
}


.logoPlaceholder {
    color: white;
}
.caDesign{
    color: #42a1f4;
}
.navbar {
    border-bottom: 3px solid white;
}
.spaceMaker {
    padding-top: 75px;
}